.color-green{
    background-color: rgb(0, 198, 77) !important;
}
.font-color-green{
    color:rgb(0, 198, 77) !important;
}
.border-green{
    border-color: rgb(0, 198, 77) !important ;
}
.border-top-end{
    border-top: 1px solid hsla(0,0%,100%,.05);
}
.font-14{
    font-size: 14px;
}
.width-box{
    width: 31% !important;
}
.icon-star{
color: rgb(251, 146, 60);
}
.borderless-accordion{
    border-style: none !important;
}
.google-width{
    width: 13% !important;
}
.footer-color{
    background-color: rgb(56, 65, 81);
}
.background-image {
    background-image: url('../images/no-parralex.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 340px; 
    width: 100%;
  }